<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Loan Approval System</title>
        <link rel="icon" type="image/png" sizes="96x96" href="BANK-USE.jpeg">

        <link href="{{ url_for('static', filename='libraries/css/bootstrap.css') }}" rel="stylesheet" type="text/css" >

        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="title">
            <h1>Loan Approval System</h1>
        </div>
        <br><br>
        <div class="container">
                <form action="{{ url_for('prediction')}}" method ="POST" >
                    <div class="row">


                            <div class="form-group">
                                <label><h4>Are you self employed ?</h4></label>
                                <select name="Self_Employed" id="Self_Employed" class="form-control">
                                   <option value="1">Yes</option>
                                   <option value="0">No</option>
                                 </select>
                            </div>
                            <div class="form-group">
                                <label><h4>Your annual income</h4></label>
                                <input type="text" class="form-control"  name="ApplicantIncome" placeholder="Enter ammount in $">
                            </div>
                            <div class="form-group">
                                <label><h4>Your co-author annual income</h4></label>
                                <input type="text" class="form-control"  name="CoapplicantIncome" placeholder="Enter ammount in $">
                            </div>
                            <div class="form-group">
                                <label><h4>Your proposed loan amount</h4></label>
                                <input type="text" class="form-control"  name="LoanAmount" placeholder="Enter ammount in $">
                            </div>
                            <div class="form-group">
                                <label><h4>Reimbursement in every term</h4></label>
                                <input type="text" class="form-control"  name="Loan_Amount_Term" placeholder="Enter ammount in $">
                            </div>

                            <div class="form-group">
                                <label><h4>Are you repay your debts ? </h4></label>
                                <select name="Credit_History" id="Credit_History" class="form-control">
                                   <option value="1">Yes</option>
                                   <option value="0">No</option>
                                 </select>
                            </div>Rural
                            <div class="form-group">
                                <label><h4>Property Area </h4></label>
                                <select name="Property_Area" id="Property_Area" class="form-control">
                                   <option value="1">Urban</option>
                                   <option value="2">Rural</option>
                                   <option value="3">Semiurban</option>
                                 </select>
                            </div>

                            <button type="submit" class="btn">Submit</button>

                    </div>
                </form>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      </div>
    <br><br>
    </body>
</html>